{% extends 'base.twig' %}

{% block content %}
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Build</th>
                <th>Details</th>
                <th>Source</th>
                <th>Download</th>
            </tr>
            </thead>
            <tbody>
                {% for key, items in builds %}
                <tr>
                    <td class="scope">{{ items.build }}</td>
                    <td>
                        <p>{{ items.message|nl2br }}</p>
                    </td>
                    <td>
                        <a href="https://github.com/Amaroq7/SPMod/tree/{{ build.commit }}">
                            <i class="fab fa-github"></i>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-primary" data-toggle="collapse" data-target="#build{{ key}}" aria-expanded="false" aria-controls="build{{ key }}">
                            <i class="fas fa-cloud-download-alt"></i>
                        </a>

                    </td>  
                </tr>
                <tr class="collapse" id="build{{ key }}">
                    <td colspan="3">
                        {% for keys, value in items.data %}
                            <div>
                                {% if value.system == "linux" %}
                                    <i class="fab fa-linux"></i>
                                {% else %}
                                    <i class="fab fa-windows"></i>
                                {% endif %}
                                <i>{{ value.compiler }} - {{ value.type }}</i>
                                <a href="/public/builds/{{ value.file }}" download>
                                    <i class="fas fa-angle-double-down"></i>
                                </a>
                            </div>
                        {% endfor %}
                    </td>
               </tr>
                {% endfor %}
            </tbody>
    </table>
{% endblock %}